.container{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
}
.navbar{
    justify-content: space-between;
}
.min-height {
    min-height: 75%;
}
.strat{
    justify-content: flex-start;
}
.column {
    flex-direction: column;
    justify-content: space;
}